.poste {
    border: 1px solid;
    color: black;
    width: 15px;
    height: 180px;
    margin: 0px auto;
    background-color: black;
}

.caja-de-luces {
    border: 1px solid;
    color: black;
    width: 150px;
    height: 450px;
    border-radius: 10px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.caja-de-luces div {
    border: 1px solid;
    color: grey;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    display: flex;
    justify-content: space-evenly;
}

.rojo {
    background-color: red;
}

.ambar {
    background-color: rgb(236, 81, 25);
}

.verde {
    background-color: green;
}

.light-on {
   -webkit-box-shadow: 0 0 13.5px 8px #fbeb00;
-moz-box-shadow: 0 0 13.5px 8px #fbeb00;
box-shadow: 0 0 13.5px 8px #fbeb00;
     
}